@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Bitter', serif;
}
.logo, .alt-logo {
    width: 150px;
}
body {
    background-image: url('../assets/design1_image1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title {
    display: none;
}
.alt-logo {
    display: none;
}
nav ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -20px auto 40px;
}
nav ul li {
    list-style: none;
    background-color: yellow;
    padding: 10px 30px;
    border-radius: 10px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}
nav a {
    color: #000;
    text-decoration: none;
}
nav ul li:hover {
    background-color: #fff;
    border-right: 2px solid yellow;
    border-bottom: 2px solid yellow;
}
.page-content {
    position: relative;
}
.alt-title {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
}
.events, .about, .contact {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 100px 20px 20px;
    text-align: center;
}
.events > *, .about > *, .contact > * {
    margin-bottom: 20px;
    
}