@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Bitter', serif;
}
.logo, .alt-logo {
    width: 150px;
}
body {
    background-image: url('../assets/design1_image1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 0 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title {
    display: none;
}
.alt-logo {
    display: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: -20px auto 40px;
}
nav ul li {
    list-style: none;
    background-color: yellow;
    padding: 10px 30px;
    border-radius: 10px;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}
nav a {
    color: #000;
    text-decoration: none;
}
nav ul li:hover {
    background-color: #fff;
    border-right: 2px solid yellow;
    border-bottom: 2px solid yellow;
}
.page-content {
    position: relative;
}
.alt-title {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
}
.main {
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 100px 20px 20px;
    text-align: center;
}
.schedule, .rules {
    padding: 40px;
    margin-bottom: 50px;
}
.events > *, .about > *, .contact > * {
    margin-bottom: 20px;
}
.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px auto;
}
.schedule table tr {
    border-bottom: 1px solid #000;
}
.schedule table tr:last-child {
    border-bottom: none;
}
.schedule table tr td {
    padding: 10px 0;
}
.schedule .alt-title, .rules .alt-title {
    position: static;
    transform: unset;
}
.extra-info {
    text-align: left;
}
.extra-info p:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rules > div {
    text-align: left;
    margin: 30px 0;
}
.rules h4 {
    margin-bottom: 10px;
}
.rules p {
    text-indent: 20px;
}
.rules ul, .rules ol {
    margin: 0 20px;
}

/*Navbar & Header Responsive*/
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    .logo, .alt-logo {
        width: 100px;
    }
    nav ul {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    nav ul li {
        margin: 2px 0;
        width: fit-content;
        font-size: 0.8rem;
        min-width: 150px;
        padding: 10px;
        text-align: center;
    }
}

/*Maps & Iframes*/
.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}
.container h2 {
    color: #fff;
}
.cards {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.maps iframe {
    width: 100%;
    margin: 20px 0;
}
.card {
    width: 30%;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}
.card > * {
    margin-bottom: 20px;
}
/*Registration*/
.reg-form {
    padding: 40px 20px;
}

